{% extends "base.html" %} {% block title %}{{service_title + ' - 회원가입'}}{%
endblock %} {% block content %}
<div
  class="max-w-screen-sm flex flex-col justify-center items-center h-screen m-auto text-sm"
>
  <img class="max-w-xs" src={{ url_for('static', filename = image) }} alt="logo"
  />
  <div class="w-full max-w-sm flex flex-col justify-center items-center">
    <input
      class="w-full my-1 p-2 border rounded"
      type="text"
      placeholder="이름"
      name="name"
      id = "username"
    />
    <div class="w-full my-1 flex justify-center items-center gap-1">
      <input
        class="flex-1 p-2 border rounded"
        type="text"
        placeholder="아이디"
        name="id"
        id="userid"
        
      />
      <button
        class="w-20 h-full p-1 border-1 rounded bg-gray-400 text-white"
        type="button"
        onclick="confirm()"
      >
        중복확인
      </button>
    </div>
    <input
      class="w-full my-1 p-2 border rounded"
      type="password"
      placeholder="비밀번호"
      name="password"
      id="userpw"
    />
    <input
      class="w-full my-1 p-2 border rounded"
      type="password"
      placeholder="비밀번호 확인"
      name="password-check"
      id = "userpw_confirm"
    />
    <button class="w-full p-1 border-1 rounded bg-blue-300 text-white"
    
    onclick = "signIn()"
     >회원가입</button>
  </div>
</div>
{% endblock %}
