<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <img src={{ url_for('static', filename = image) }} alt="logo" />
      <label>
        <span>이름 :</span>
        <input type="text" />
      </label>
      <label>
        <span>ID :</span>
        <input type="text" />
      </label>
      <label>
        <span>PW :</span>
        <input type="password" />
      </label>
      <label>
        <input type="password" />
      </label>
      <button type="button">회원가입</button>
    </div>
  </body>
</html>
